myvenv/
venv/
.venv/
jars/
*.jar
*.json
!config/*.json
parquet/
spark-warehouse/
part-*
*.parquet
*.crc
config/config.py
__pycache__/
*.py[cod]
*.ipynb
.ipynb_checkpoints/
metastore_db/
derby.log
.vscode/
.idea/
.DS_Store
minio-data/
mysql-data/
postgres-*-data/
grafana-data/
